<table *ngIf="isInit" class="table">
    <tr>
        <th>Type</th>
        <th>Name</th>        
        <th>
            <span *ngFor="#itemClass of entity.PolicySubType.PolicyType.ItemClasses">                
                <button *ngFor="#opType of itemClass.InsurableItemClass.OperatorTypes" type="button" class="btn" (click)="add(opType.OperatorType)">Add {{ opType.OperatorType.Name }}</button>
            </span>
            
        </th>
    </tr>
    <tr *ngFor="#op of entity.Operators">
        <td>
            {{ op.OperatorType.Name }}
        </td>
        <td>
            {{ op.OperatorPublic['Name'] }}, {{ op.OperatorPublic['FirstName'] }}
        </td>        
        <td>
            <button type="button" class="btn" (click)="edit(op)"><i class="fa fa-edit fa-fw"></i></button>
            <button type="button" class="btn" (click)="remove(op)"><i class="fa fa-trash fa-fw"></i></button>
        </td>
    </tr>
</table>