

<div class="panel panel-default" *ngIf="step == 1">
    <div class="panel-heading">Step {{step}} - Reporting Entity</div>
    <div class="panel-body">
        <form-input [entity]="trigger" name="ReportingEntityID" title="Reporting Entity">
            <entity-dropdown [(value)]="trigger.ReportingEntityID"
                             name="ReportingEntityID"
                             query="ReportingEntities?$expand=Public"
                             keyField="ID"
                             displayField="Public.Name"
                             nullable="false">
            </entity-dropdown>
        </form-input>
    </div>
</div>

<div class="panel panel-default" *ngIf="step == 2">
    <div class="panel-heading">Step {{step}} - Template</div>
    <div class="panel-body">
        <form-input [entity]="trigger" name="JournalTemplateID" title="Template">
            <entity-dropdown [(value)]="trigger.JournalTemplateID"
                             name="JournalTemplateID"
                             query="GetAvailableJournalTemplates?origin='{{origin}}'&reportingEntityID={{trigger.ReportingEntityID}}"
                             keyField="ID"
                             displayField="Description"
                             nullable="false">
            </entity-dropdown>
        </form-input>
    </div>
</div>

<div class="panel panel-default" *ngIf="step == 3 && templateInputsLoaded">
    <div class="panel-heading">Step {{step}} - Details</div>
    <div class="panel-body form-horizontal">
        <form-input [entity]="trigger" name="Description" title="Name" labelClass="col-sm-2">
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Description" [(ngModel)]="trigger.Description" />
            </div>
        </form-input>

        <form-input [entity]="trigger" name="TransactionTriggerFrequencyID" title="Frequency" labelClass="col-sm-2">
            <div class="col-sm-10">
                <entity-dropdown [(value)]="trigger.TransactionTriggerFrequencyID"
                                 name="TransactionTriggerFrequencyID"
                                 query="TransactionTriggerFrequencies"
                                 keyField="ID"
                                 displayField="Name"
                                 nullable="false">
                </entity-dropdown>
            </div>
        </form-input>

        <form-input [entity]="trigger" name="TransactionTriggerStatusID" title="Status" labelClass="col-sm-2">
            <div class="col-sm-10">
                <entity-dropdown [(value)]="trigger.TransactionTriggerStatusID"
                                 name="TransactionTriggerStatusID"
                                 query="TransactionTriggerStatuses"
                                 keyField="ID"
                                 displayField="Name"
                                 nullable="false">
                </entity-dropdown>
            </div>
        </form-input>

        <form-input [entity]="trigger" name="EffectiveFrom" title="Effective From" labelClass="col-sm-2">
            <div class="col-sm-10">                
                <input dateInput [(value)]="trigger.EffectiveFrom" />
            </div>
        </form-input>

        <form-input [entity]="trigger" name="EffectiveTo" title="Effective To" labelClass="col-sm-2">
            <div class="col-sm-10">
                <input dateInput [(value)]="trigger.EffectiveTo" />
            </div>
        </form-input>

        <form-input [entity]="trigger" name="TxnDate" title="Transaction Date" labelClass="col-sm-2">
            <div class="col-sm-10">
                <input dateInput [(value)]="trigger.TxnDate" />
            </div>
        </form-input>

        <form-input [entity]="trigger" name="NextExecutionDate" title="Next Execution Date" labelClass="col-sm-2">
            <div class="col-sm-10">
                <input dateInput [(value)]="trigger.NextExecutionDate" />
            </div>
        </form-input>

        <div *ngIf="origin == 'G' && trigger.JournalTemplate.PublicRequirement">

            <form-input *ngIf="trigger.JournalTemplate.PublicRequirement.IsServiceProvider" 
                        [entity]="trigger" name="ServiceProviderID" 
                        title="{{ trigger.JournalTemplate.ServiceProviderType.Name }}" 
                        labelClass="col-sm-2">
                <div class="col-sm-10">
                    <entity-dropdown [(value)]="trigger.ServiceProviderID"                                     
                                     query="ServiceProviderTypes({{trigger.JournalTemplate.ServiceProviderTypeID}})/ServiceProviders?$expand=Public&$orderby=Public/Name"
                                     keyField="ID"
                                     displayField="Public.Name"
                                     nullable="true">
                    </entity-dropdown>
                </div>
            </form-input>

            <form-input *ngIf="trigger.JournalTemplate.PublicRequirement.IsAgent"
                        [entity]="trigger" name="AgentID"
                        title="{{ trigger.JournalTemplate.AgentType.Name }}"
                        labelClass="col-sm-2">
                <div class="col-sm-10">
                    <entity-dropdown [(value)]="trigger.AgentID"
                                     query="AgentTypes({{trigger.JournalTemplate.AgentTypeID}})/Agents?$expand=Public&$orderby=Public/Name"
                                     keyField="ID"
                                     displayField="Public.Name"
                                     nullable="true">
                    </entity-dropdown>
                </div>
            </form-input>

        </div>

        <transactionTriggerInputs [(value)]="trigger" [dataService]="dataService" [journalTemplate]="trigger.JournalTemplate"></transactionTriggerInputs>

    </div>
</div>

<div class="panel panel-default" *ngIf="step == 4">
    <div class="panel-heading">Step {{step}} - Summary</div>
    <div class="panel-body">
        Summary

        <error-summary [canShow]="showErrorSummary" [entity]="trigger"></error-summary>
    </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn" (click)="cancel()">Cancel</button>
    <button type="button" class="btn" (click)="prevStep()">Back</button>
    <button type="button" class="btn btn-primary" (click)="nextStep()">Next</button>
    <button type="button" class="btn btn-primary" (click)="finish()">Finish</button>
</div>