<form (submit)="save()" [hidden]="complete">
    <h4>{{ title }}</h4>
    <div class="row">

        <div *ngIf="ready" class="tabbable">
            <ul class="nav nav-pills nav-stacked col-md-3">
                <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                <li><a href="#risklocations" data-toggle="tab">Risk Locations</a></li>

                <li><a href="#Operators" data-toggle="tab">Operators</a></li>
                <li><a href="#InsurableItems" data-toggle="tab">Insurable Items</a></li>
                <li><a href="#PolicyHolders" data-toggle="tab">Policy Holders</a></li>
                <li><a href="#ServiceProviders" data-toggle="tab">Service Providers</a></li>
                <li><a href="#Agents" data-toggle="tab">Agents</a></li>
                <li><a href="#TransactionTriggers" data-toggle="tab">Transaction Triggers</a></li>
                <li><a href="#Journals" data-toggle="tab">Journals</a></li>
                <li><a href="#Balances" data-toggle="tab">Balances</a></li>
                <li><a href="#ContextParameters" data-toggle="tab">Context Parameters</a></li>
            </ul>
            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="general">
                    <table class="table">
                        <tr>
                            <td>Policy Type</td>
                            <td>{{ policyTypeName() }}</td>
                        </tr>

                        <tr>
                            <td>Policy Number</td>
                            <td>{{ entity.PolicyNumber }}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td></td>
                        </tr>
                    </table>
                    <entity-dropdown></entity-dropdown>


                </div>
                <div class="tab-pane" id="PolicyHolders">
                    <policyHolders [(value)]="entity" [dataService]="dataService"></policyHolders>
                </div>

                <div class="tab-pane" id="risklocations">
                    <policyRiskLocations [(value)]="entity" [dataService]="dataService"></policyRiskLocations>
                </div>
                <div class="tab-pane" id="InsurableItems">
                    <policyInsurableItems [(value)]="entity" [dataService]="dataService"></policyInsurableItems>
                </div>
                <div class="tab-pane" id="Operators">
                    <policyOperators [(value)]="entity" [dataService]="dataService"></policyOperators>
                </div>
                <div class="tab-pane" id="ServiceProviders">
                    <policyServiceProviders [(value)]="entity" [dataService]="dataService"></policyServiceProviders>
                </div>
                <div class="tab-pane" id="Agents">
                    <policyAgents [(value)]="entity" [dataService]="dataService"></policyAgents>
                </div>
                <div class="tab-pane" id="TransactionTriggers">
                    <transactionTriggers [(value)]="entity" [dataService]="dataService" type="PolicyTransactionTrigger"></transactionTriggers>
                </div>
                <div class="tab-pane" id="Journals">
                    <div journalExplorer path="Policies({{entity.ID}})/Journals"></div>
                </div>
                <div class="tab-pane" id="Balances">
                    Effective Date:
                    <input dateInput [(value)]="ledgerBalanceDate" />
                    <div ledgerBalances source="Policy" [id]="entity.ID" [effectiveDate]="ledgerBalanceDate"></div>
                </div>

                <div class="tab-pane" id="ContextParameters">
                    <contextParameterValues [value]="entity" [dataService]="dataService" childType="PolicyContextParameterValue"></contextParameterValues>
                </div>
            </div>
        </div>

    </div>


    <error-summary [canShow]="showErrorSummary" [entity]="entity"></error-summary>

    <div class="modal-footer">

        <button *ngFor="#cmd of commands"
                type="button"
                class="btn"
                [disabled]="!cmd.CanExecute"
                (click)="transitionPolicy(cmd.PolicyTypeTransitionID)">
            {{ cmd.Text }}
        </button>
        <button type="button" class="btn btn-danger" (click)="ratePolicy()">Rate</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>


</form>
