<form (submit)="save()" [hidden]="complete">
    <h4>{{ title }}</h4>


    <div class="panel panel-default" *ngIf="step == 1">
        <div class="panel-heading">Step {{step}} - Policy Type</div>
        <div class="panel-body">
            <form-input [entity]="entity" name="PolicySubTypeID" title="Policy Type">
                <entity-dropdown [(value)]="entity.PolicySubTypeID"
                                 name="PolicySubTypeID"
                                 query="PolicySubTypes"
                                 keyField="ID"
                                 displayField="Name"
                                 nullable="false">
                </entity-dropdown>
            </form-input>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="step == 2">
        <div class="panel-heading">Step {{step}} - Policy Holders</div>
        <div class="panel-body">
            <policyHolders [(value)]="entity" [dataService]="dataService"></policyHolders>
        </div>
    </div>

    <!--
    <div class="panel panel-default" *ngIf="step == 2">
        <div class="panel-heading">Step {{step}} - Entities</div>
        <div class="panel-body">
            <policyReportingEntities [(value)]="entity"></policyReportingEntities>
        </div>
    </div>
    -->

    <div class="panel panel-default" *ngIf="step == 3">
        <div class="panel-heading">Step {{step}} - Service Providers</div>
        <div class="panel-body">
            <policyServiceProviders [(value)]="entity" [dataService]="dataService"></policyServiceProviders>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="step == 4">
        <div class="panel-heading">Step {{step}} - Agents</div>
        <div class="panel-body">
            agents
        </div>
    </div>

    <div class="panel panel-default" *ngIf="step == 5">
        <div class="panel-heading">Step {{step}} - Risk Locations</div>
        <div class="panel-body">
            <policyRiskLocations [(value)]="entity" [dataService]="dataService"></policyRiskLocations>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="step == 6">
        <div class="panel-heading">Step {{step}} - Operators</div>
        <div class="panel-body">
            <policyOperators [(value)]="entity" [dataService]="dataService" [policySubType]="policySubType"></policyOperators>
        </div>
    </div>

    <div class="panel panel-default" *ngIf="step == 7">
        <div class="panel-heading">Step {{step}} - Insurable Items</div>
        <div class="panel-body">
            <policyInsurableItems [(value)]="entity" [dataService]="dataService" [policySubType]="policySubType"></policyInsurableItems>
        </div>
    </div>



    <error-summary [canShow]="showErrorSummary" [entity]="entity"></error-summary>

    <div class="modal-footer">

        <button type="button" class="btn" (click)="prevStep()">Back</button>
        <button type="button" class="btn btn-primary" (click)="nextStep()">Next</button>

        <button type="submit" class="btn btn-primary">Finish</button>
    </div>


</form>
