<form (submit)="save()" [hidden]="complete">
    <h4>{{ title }}</h4>
    <div class="row">

        <div class="tabbable">
            <ul class="nav nav-pills nav-stacked col-md-3">
                <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                <li><a href="#policies" data-toggle="tab">Policies</a></li>
            </ul>

            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="general">
                    <form-input [entity]="entity" name="AgentTypeID" title="Type">
                        <entity-dropdown [(value)]="entity.AgentTypeID"
                                         name="AgentTypeID"
                                         query="AgentTypes"
                                         keyField="ID"
                                         displayField="Name"
                                         nullable="false">
                        </entity-dropdown>
                    </form-input>

                    <form-input [entity]="entity" name="PublicID" title="Public">
                        <publicSelector [(value)]="entity.Public" [dataService]="dataService"></publicSelector>
                    </form-input>
                </div>

                <div class="tab-pane" id="policies">
                    todo
                </div>
            </div>
        </div>              

    </div>

    <error-summary [canShow]="showErrorSummary" [entity]="entity"></error-summary>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>


</form>
