<table class="table">
    <tr>
        <th>Name</th>
        <th>Button Text</th>
        <th>
            <button type="button" class="btn" (click)="add(null)">Add</button>
        </th>
    </tr>
    <tr *ngFor="#item of entity.Transitions">
        <td>
            {{ item.Name }}
        </td>
        <td>
            {{ item.ButtonText }}
        </td>
        <td>
            <button type="button" class="btn" (click)="edit(item)"><i class="fa fa-edit fa-fw"></i></button>
            <button type="button" class="btn" (click)="remove(item)"><i class="fa fa-trash fa-fw"></i></button>
        </td>
    </tr>
</table>
