<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="cancel()">&times;</button>
        <h4 class="modal-title">Journal Template Txn - {{ entity.Description }}</h4>
    </div>
    <div class="modal-body">
        <tabset>
            <tab heading="General">
                <div class="form-horizontal">

                    <form-input [entity]="entity" name="Description" title="Name" labelClass="col-sm-2">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Description" [(ngModel)]="entity.Description" />
                        </div>
                    </form-input>


                    <form-input [entity]="entity" name="JournalTxnClassID" title="Class" labelClass="col-sm-2">
                        <div class="col-sm-10">
                            <entity-dropdown [(value)]="entity.JournalTxnClassID"
                                             name="JournalTxnClassID"
                                             query="JournalTxnClasses"
                                             keyField="ID"
                                             displayField="Description"
                                             nullable="false">
                            </entity-dropdown>
                        </div>
                    </form-input>

                    <form-input [entity]="entity" name="BalanceOrigin" title="Balance Origin" labelClass="col-sm-2">
                        <div class="col-sm-10">
                            <select class="form-control" [(ngModel)]="entity.BalanceOrigin">
                                <option value="N">None</option>
                                <option value="P">Policy</option>
                                <option value="U">Public</option>
                                <option value="X">Public-Policy Combo</option>
                                <option value="A">Agent</option>
                                <option value="B">Branch</option>
                            </select>
                        </div>
                    </form-input>
                    
                    <form-input [entity]="entity" name="AmountInputID" title="Amount Input" labelClass="col-sm-2">
                        <div class="col-sm-10">
                            <entity-dropdown [(value)]="entity.AmountInputID"
                                             name="AmountInputID"
                                             [boundList]="entity.JournalTemplate.Inputs"
                                             keyField="ID"
                                             displayField="Name"
                                             nullable="true">
                            </entity-dropdown>
                        </div>
                    </form-input>

                    <form-input [entity]="entity" name="AmountContextParameterID" title="Source Context Parameter" labelClass="col-sm-2">
                        <div class="col-sm-10">
                            <entity-dropdown [(value)]="entity.AmountContextParameterID"
                                             name="AmountContextParameterID"
                                             query="ContextParameters?$orderby=Name"
                                             keyField="ID"
                                             displayField="Name"
                                             nullable="true">
                            </entity-dropdown>
                        </div>
                    </form-input>


                    <form-input [entity]="entity" name="AmountLedgerAccountID" title="Source Ledger Account" labelClass="col-sm-2">
                        <div class="col-sm-10">
                            <entity-dropdown [(value)]="entity.AmountLedgerAccountID"
                                             name="AmountLedgerAccountID"
                                             [boundList]="entity.JournalTemplate.ReportingEntityProfile.LedgerAccounts"
                                             keyField="ID"
                                             displayField="Name"
                                             nullable="true">
                            </entity-dropdown>
                        </div>
                    </form-input>
                    

                    <form-input [entity]="entity" name="Amount" title="Fixed Amount" labelClass="col-sm-2">
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="Amount" [(ngModel)]="entity.Amount" />
                        </div>
                    </form-input>

                    <form-input [entity]="entity" name="ReconRequired" title="Requires Bank Recon" labelClass="col-sm-2">
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-control" name="ReconRequired" [(ngModel)]="entity.ReconRequired" />
                        </div>
                    </form-input>
                </div>

            </tab>
            <tab heading="Postings">
                <table class="table">
                    <tr>
                        <th>Post Type</th>
                        <th>Ledger Account</th>
                        <th>Add Base Amount</th>
                        <th>Inherit Policy</th>
                        <th>Inherit Public</th>
                        <th></th>
                        <th>
                            <button type="button" class="btn" (click)="addPosting()">Add</button>
                        </th>
                    </tr>
                    <tr *ngFor="#posting of entity.Postings">
                        <td>
                            <select class="form-control" [(ngModel)]="posting.PostType">
                                <option value="D">Debit</option>
                                <option value="C">Credit</option>
                            </select>
                        </td>
                        <td>
                            <div>
                                <entity-dropdown [(value)]="posting.LedgerAccountID"
                                                 name="LedgerAccountID"
                                                 [boundList]="entity.JournalTemplate.ReportingEntityProfile.LedgerAccounts"
                                                 keyField="ID"
                                                 displayField="Name"
                                                 nullable="true">
                                </entity-dropdown>
                            </div>
                            <div>
                                <input type="checkbox" class="form-control-inline" name="CoverageExpenseAccount" [(ngModel)]="posting.CoverageExpenseAccount">
                                <small>Coverage Expense</small>
                            </div>
                            <div>
                                <input type="checkbox" class="form-control-inline" name="CoverageIncomeAccount" [(ngModel)]="posting.CoverageIncomeAccount">
                                <small>Coverage Income</small>
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" name="AddBaseAmount" [(ngModel)]="posting.AddBaseAmount">
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" name="InheritPolicy" [(ngModel)]="posting.InheritPolicy">
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" name="InheritPublic" [(ngModel)]="posting.InheritPublic">
                        </td>
                        <td></td>
                        <td>
                            <button type="button" class="btn" (click)="removePosting(posting)"><i class="fa fa-trash fa-fw"></i></button>
                        </td>


                    </tr>
                </table>
            </tab>

        </tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">OK</button>
    </div>
</div>




<!--
<div class="panel panel-default" >
    <div class="panel-heading">Step {{step}} - Summary</div>
    <div class="panel-body">
        Summary

        <error-summary [canShow]="showErrorSummary" [entity]="entity"></error-summary>
    </div>
</div>
-->
