<table class="table">
    <tr>
        <th>Name</th>
        <th>
            <button type="button" class="btn" (click)="add(null)">Add</button>
        </th>
    </tr>
    <tr *ngFor="#tmpl of entity.JournalTemplates">
        <td>
            {{ tmpl.Description }}
        </td>
        <td>
            <button type="button" class="btn" (click)="edit(tmpl)"><i class="fa fa-edit fa-fw"></i></button>
            <button type="button" class="btn" (click)="remove(tmpl)"><i class="fa fa-trash fa-fw"></i></button>
        </td>
    </tr>
</table>