<table class="table">
    <tr>
        <th>Name</th>
        <th>
            <button type="button" class="btn" (click)="add(null)">Add</button>
        </th>
    </tr>
    <tr *ngFor="#txn of entity.JournalTemplateTxns">
        <td>
            {{ txn.Description }}
        </td>
        <td>
            <button type="button" class="btn" (click)="edit(txn)"><i class="fa fa-edit fa-fw"></i></button>
            <button type="button" class="btn" (click)="remove(txn)"><i class="fa fa-trash fa-fw"></i></button>
        </td>
    </tr>
</table>