<form (submit)="save()" [hidden]="complete">
    <h4>{{ title }}</h4>
    <div class="row">
        <tabset>
            <tab heading="General">
                <form-input [entity]="entity" name="Name" title="Name">
                    <input type="text" class="form-control" name="Name" [(ngModel)]="entity.Name">
                </form-input>

                <form-input [entity]="entity" name="DisplayName" title="DisplayName">
                    <input type="text" class="form-control" name="Name" [(ngModel)]="entity.DisplayName">
                </form-input>

                <form-input [entity]="entity" name="ParentInsurableItemClassID" title="Parent Class">
                    <entity-dropdown class="form-control"
                                     [(value)]="entity.ParentInsurableItemClassID"
                                     name="ParentInsurableItemClassID"
                                     query="InsurableItemClasses"
                                     keyField="ID"
                                     displayField="Name"
                                     nullable="true">
                    </entity-dropdown>
                </form-input>
            </tab>
            <tab heading="Attributes">
                <button type="button" class="btn" (click)="addGroup()">Add Group</button>
                <accordion>
                    <accordion-group *ngFor="#group of entity.Groups" heading="{{group.Name}}">

                        <form-input [entity]="group" name="Name" title="Name">
                            <input type="text" class="form-control" name="Name" [(ngModel)]="group.Name">
                        </form-input>

                        <form-input [entity]="group" name="Prompt" title="Prompt">
                            <input type="text" class="form-control" name="Prompt" [(ngModel)]="group.Prompt">
                        </form-input>

                        <form-input [entity]="group" name="DisplayOrder" title="Display Order">
                            <input type="number" class="form-control" name="DisplayOrder" [(ngModel)]="group.DisplayOrder">
                        </form-input>

                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Prompt</th>
                                <th>AL3 Group</th>
                                <th>AL3 Element</th>
                                <th>Order</th>
                                <th>Type</th>
                                <th>Decimal Places</th>
                                <th>Lookup</th>
                                <th>Required</th>
                                <th>Index</th>
                                <th>Key</th>
                                <th>Show in List</th>
                                <th>
                                    <button type="button" class="btn" (click)="addAttribute(group)">Add</button>
                                </th>
                            </tr>
                            <tr *ngFor="#attribute of group.Attributes">
                                <td>
                                    <input type="text" class="form-control" name="Name" [(ngModel)]="attribute.Name">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="Prompt" [(ngModel)]="attribute.Prompt">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="AL3Group" [(ngModel)]="attribute.AL3Group">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="AL3Element" [(ngModel)]="attribute.AL3Element">
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="DisplayOrder" [(ngModel)]="attribute.DisplayOrder">
                                </td>
                                <td>
                                    <entity-dropdown 
                                                     [(value)]="attribute.AttributeDataTypeID"
                                                     name="AttributeDataTypeID"
                                                     query="AttributeDataTypes"
                                                     keyField="ID"
                                                     displayField="Description"
                                                     nullable="false">
                                    </entity-dropdown>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="DecimalPlaces" [(ngModel)]="attribute.DecimalPlaces">
                                </td>
                                <td>
                                    <entity-dropdown 
                                                     [(value)]="attribute.AttributeLookupListID"
                                                     name="AttributeLookupListID"
                                                     query="AttributeLookupLists"
                                                     keyField="ID"
                                                     displayField="Name"
                                                     nullable="true">
                                    </entity-dropdown>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-control" name="Required" [(checked)]="attribute.Required">
                                </td>
                                <td>
                                    <input type="checkbox" class="form-control" name="IndexField" [(checked)]="attribute.IndexField">
                                </td>
                                <td>
                                    <input type="checkbox" class="form-control" name="Key" [(checked)]="attribute.Key">
                                </td>
                                <td>
                                    <input type="checkbox" class="form-control" name="ShowInList" [(checked)]="attribute.ShowInList">
                                </td>
                                <td>
                                    <button type="button" class="btn" (click)="removeAttribute(attribute)"><i class="fa fa-trash fa-fw"></i></button>
                                </td>

                            </tr>
                        </table>
                    </accordion-group>
                </accordion>


            </tab>
            <tab heading="Operator Types">
                <table>
                    <tr>
                        <th>Type</th>
                        <th>
                            <button type="button" class="btn" (click)="addOperatorType()">Add</button>
                        </th>
                    </tr>
                    <tr *ngFor="#opType of entity.OperatorTypes">
                        <td>
                            <entity-dropdown 
                                             [(value)]="opType.OperatorTypeID"
                                             name="OperatorTypeID"
                                             query="OperatorTypes"
                                             keyField="ID"
                                             displayField="Name"
                                             nullable="false">
                            </entity-dropdown>
                        </td>
                        <td>
                            <button type="button" class="btn" (click)="removeOperatorType(opType)"><i class="fa fa-trash fa-fw"></i></button>
                        </td>

                    </tr>
                </table>
            </tab>
        </tabset>

    </div>

    <error-summary [canShow]="showErrorSummary" [entity]="entity"></error-summary>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>


</form>
