

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="cancel()">&times;</button>
        <h4 class="modal-title">{{ entity.InsurableItemClass.DisplayName }}</h4>
    </div>
    <div class="modal-body">
        <div>
            <form-input [entity]="entity" name="PolicyRiskLocationID" title="Risk Location">

                <entity-dropdown [(value)]="entity.PolicyRiskLocationID"
                                 name="PolicyRiskLocationID"
                                 [boundList]="entity.Policy.RiskLocations"
                                 keyField="ID"
                                 displayField="StreetAddressLine1"
                                 nullable="false">
                </entity-dropdown>

            </form-input>

            <tabset>
                <tab heading="Attributes">
                    <insurableItemAttributes [(value)]="entity" [dataService]="dataService" [insurableItemClass]="entity.InsurableItemClass"></insurableItemAttributes>
                </tab>
                <tab heading="Coverages">
                    <table class="table-striped">
                        <tr>
                            <th>
                                Coverage
                            </th>
                            <th>
                                Limit
                            </th>
                            <th>
                                Deductible
                            </th>
                            <th>
                                Premium
                            </th>
                            <th>
                                <button type="button" class="btn" (click)="addCoverage()">Add</button>
                            </th>
                        </tr>
                        <tr *ngFor="#coverage of entity.PolicyCoverages">
                            <td>
                                <entity-dropdown [(value)]="coverage.CoverageTypeID"
                                                 name="CoverageTypeID"
                                                 [boundList]="entity.Policy.PolicySubType.Coverages"
                                                 keyField="CoverageType.ID"
                                                 displayField="CoverageType.Name"
                                                 nullable="false">
                                </entity-dropdown>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="Limit" [(ngModel)]="coverage.Limit" />
                            </td>
                            <td>
                                <input type="number" class="form-control" name="Deductible" [(ngModel)]="coverage.Deductible" />
                            </td>
                            <td>
                                <input type="number" class="form-control" name="Premium" [(ngModel)]="coverage.Premium" />
                            </td>
                            <td>
                                <button type="button" class="btn" (click)="removeCoverage(coverage)"><i class="fa fa-trash fa-fw"></i></button>
                            </td>
                        </tr>
                    </table>


                </tab>
                <tab heading="Operators">
                    <table table-striped>
                        <tr>                            
                            <th>
                                Operator
                            </th>
                            <th>
                                Primary
                            </th>
                            <th>
                                <button type="button" class="btn" (click)="addOperator()">Add</button>
                            </th>
                        </tr>
                        <tr *ngFor="#operator of entity.Operators">
                            <td>
                                <entity-dropdown [(value)]="operator.OperatorID"
                                                 name="OperatorID"
                                                 [boundList]="entity.Policy.Operators"
                                                 keyField="ID"
                                                 displayField="OperatorPublic.Name"
                                                 nullable="false">
                                </entity-dropdown>
                            </td>
                            <td>
                                <input type="checkbox" class="form-control" name="Primary" [(checked)]="Primary"  />
                            </td>
                            <td>
                                <button type="button" class="btn" (click)="removeOperator(operator)"><i class="fa fa-trash fa-fw"></i></button>
                            </td>
                        </tr>
                    </table>
                </tab>
            </tabset>


        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">OK</button>
    </div>
</div>




<!--
<div class="panel panel-default" >
    <div class="panel-heading">Step {{step}} - Summary</div>
    <div class="panel-body">
        Summary

        <error-summary [canShow]="showErrorSummary" [entity]="entity"></error-summary>
    </div>
</div>
-->
